// Common styles of the project

html, body {
    height: 100%;
}

* {
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
  &::-webkit-scrollbar {
      width: 1px;
  }

}



canvas.chartjs-render-monitor {
   // background-color: rgba(5, 57, 84,0.8);
   animation: colorchange 50s infinite linear;
   // max-width: 100%;
   // max-height: 100%
}

.content {
	padding: 0;
}

.wrapper {
	position: relative;
	padding: 0;
}

@keyframes colorchange
  {
    0%   {background: rgba(84, 5, 13, 0.8);}
    25%  {background: rgba(26, 193, 228, 0.8);}
    50%  {background: rgba(14, 84, 5, 0.8);}
    75%  {background: rgba(172, 228, 26, 0.8);}
    90% {background: rgba(184, 65, 213, 0.8);}
    100%   {background: rgba(84, 5, 13, 0.8);}
  }